<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='homepage.css') }}"> <!-- Use Flask's url_for -->
</head>
<body>
    <header>
        <h1>Welcome, {{ username }}, to Mindlock!</h1><!--sample of welcome user-->
    </header>
    <section>
        <img src="{{ url_for('static', filename='images/eeg.png') }}" alt="EEG Example" style="width:100%; max-width:600px; margin: 20px 0;">
    </section>
</body>
</html>