<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='homepage.css') }}"> <!-- Use Flask's url_for -->
</head>
<body>
    <header>
        <h1>Welcome, {{ username }}, to Mindlock!</h1><!--sample of welcome user-->
        
    </header>
    {% if plot_raw_base64 %}
        <img src="data:image/png;base64,{{ plot_raw_base64 }}" alt="Raw EEG Plot"/>
    {% endif %}

    {% if plot_epochs_base64 %}
        <img src="data:image/png;base64,{{ plot_epochs_base64 }}" alt="Epochs Plot"/>
    {% endif %}

</body>
</html>